.button {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  padding: 8px 8px;
  border-radius: 8px;
  /* width: 100%; */
  background: var(--green);
  text-align: center;
  cursor: pointer;
  color: var(--dark-bg);

  transition: all 250ms ease;
}

.fullWidth {
  width: 100%;
}

.button:hover {
  background: var(--green-light);
  /* box-shadow: #d329420d 0px 8px 24px; */
}

.button.disabled {
  background: var(--green-light);
  cursor: default;
}

.button.secondary {
  background: var(--gray);
  color: var(--dark-bg);
}

.button.purple {
  color: white;
  background: var(--purple);
}

.button:hover {
  filter: brightness(1.05);
}

@media (max-width: 768px) {
  .button {
    font-size: 0.8rem;
  }
}
